h1 {
    max-width: 75%;
    margin: 1rem auto;
    text-align: center;
}

.separator {
    display: block;
    width: 100%;
    height: 2px;
    margin: 5rem auto;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(72,72,72,1) 20%, rgba(72,72,72,1) 80%, rgba(255,255,255,0) 100%);
}

h2 {
    max-width: 80%;
    margin: 2rem auto 1rem;
    text-align: center;
}

#task-1 {
    padding: 2rem;
}

#task-1 .add-watch-form {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

#task-1 .add-watch-form .input-group {
    display: flex;
    flex-direction: column;
}

#task-1 .add-watch-form input,
#task-1 .add-watch-form button {
    margin: 0.5em 0;
    padding: 0.5em 1em;
}

#task-1 .watches-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0;
    justify-content: space-between;
    gap: 3rem;
}

#task-1 .watch {
    margin: 2rem;
    box-sizing: border-box;
}

#task-1 .city-name {
    text-align: center;
    font-weight: bold;
}

#task-1 .clock-face {
    position: relative;
    width: 5em;
    height: 5em;
    font-size: 3rem;
    border-radius: 50%;
    border: 3px solid black;
}

#task-1 .watch-close-btn {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    padding: 0.2em;
    font-size: 0.5em;
    line-height: 1;
    cursor: pointer;
    border-radius: 50%;
}

#task-1 .digital_clock {
    position: absolute;
    bottom: 0.25em;
    left: 50%;
    font-size: 0.5em;
    font-weight: bold;
    opacity: 0.4;
    transform: translate(-50%, 0);
}

#task-1 .arrow {
    position: absolute;
    top: 50%;
    box-sizing: content-box;
    border-style: none;
    transform-origin: center top;
}

#task-1 .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    display: block;
    width: 0.1em;
    height: 0.2em;
    box-sizing: border-box;
    border: 0.05em solid transparent;
    border-top: 0.2em solid;
    border-bottom-width: 0;
    transform: translate(50%, 100%);
}

#task-1 .arrow.arrow-hours {
    left: calc(50% - 0.025em);
    height: 1.1em;
    width: 0.05em;
    background-color: brown;
}

#task-1 .arrow.arrow-hours::after {
    border-top-color: brown;
}

#task-1 .arrow.arrow-minutes {
    left: calc(50% - 0.015em);
    height: 2.0em;
    width: 0.03em;
    background-color: green;
}

#task-1 .arrow.arrow-minutes::after {
    border-top-color: green;
}

#task-1 .arrow.arrow-seconds {
    left: calc(50% - 0.015em);
    height: 2.2em;
    width: 0.03em;
    background-color: blue;
    opacity: 0.5;
}

#task-1 .arrow.arrow-seconds::after {
    border-top-color: blue;
}